Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
Cuda/packages/CUDAfy.NET.1.27.5314.36419/content/Readme/CUDA.NET.Readme.txt
Cuda/packages/CUDAfy.NET.1.27.5314.36419/content/Readme/CUDAfy-License.txt
Cuda/packages/CUDAfy.NET.1.27.5314.36419/content/Readme/example_source_code.cs.txt
Cuda/packages/CUDAfy.NET.1.27.5314.36419/content/Readme/ILSpy-license.txt
Cuda/packages/CUDAfy.NET.1.27.5314.36419/content/Readme/README.txt
Cuda/packages/CUDAfy.NET.1.27.5314.36419/content/Tools/place_these_executables_in_same_folder_as_Cudafy.NET.dll.txt
Cuda/packages/CUDAfy.NET.1.27.5314.36419/CUDAfy.NET.1.27.5314.36419.nupkg
Cuda/packages/CUDAfy.NET.1.27.5314.36419/lib/net40/Cudafy.NET.dll
Cuda/packages/CUDAfy.NET.1.27.5314.36419/lib/net40/Cudafy.NET.xml
Cuda/Readme/CUDA.NET.Readme.txt
Cuda/Readme/CUDAfy-License.txt
Cuda/Readme/example_source_code.cs.txt
Cuda/Readme/ILSpy-license.txt
Cuda/Readme/README.txt
Cuda/Tools/place_these_executables_in_same_folder_as_Cudafy.NET.dll.txt
*.cu
*.ptx
packages/CUDAfy.NET.1.27.5314.36419/content/Readme/CUDA.NET.Readme.txt
packages/CUDAfy.NET.1.27.5314.36419/content/Readme/CUDAfy-License.txt
packages/CUDAfy.NET.1.27.5314.36419/content/Readme/example_source_code.cs.txt
packages/CUDAfy.NET.1.27.5314.36419/content/Readme/ILSpy-license.txt
packages/CUDAfy.NET.1.27.5314.36419/content/Readme/README.txt
packages/CUDAfy.NET.1.27.5314.36419/content/Tools/place_these_executables_in_same_folder_as_Cudafy.NET.dll.txt
SimpleRBM.Demo/Tools/place_these_executables_in_same_folder_as_Cudafy.NET.dll.txt
SimpleRBM.Demo/Readme/README.txt
SimpleRBM.Demo/Readme/ILSpy-license.txt
SimpleRBM.Demo/Readme/example_source_code.cs.txt
SimpleRBM.Demo/Readme/CUDAfy-License.txt
SimpleRBM.Demo/Readme/CUDA.NET.Readme.txt
SimpleRBM.Test/Readme/CUDA.NET.Readme.txt
SimpleRBM.Test/Readme/example_source_code.cs.txt
SimpleRBM.Test/Readme/CUDAfy-License.txt
SimpleRBM.Test/Readme/ILSpy-license.txt
SimpleRBM.Test/Readme/README.txt
SimpleRBM.Cuda/Tools/place_these_executables_in_same_folder_as_Cudafy.NET.dll.txt
SimpleRBM.Cuda/Readme/CUDA.NET.Readme.txt
SimpleRBM.Cuda/Readme/CUDAfy-License.txt
SimpleRBM.Cuda/Readme/example_source_code.cs.txt
SimpleRBM.Cuda/Readme/ILSpy-license.txt
SimpleRBM.Cuda/Readme/README.txt
SimpleRBM.Cuda/packages/CUDAfy.NET.1.27.5314.36419/content/Readme/CUDA.NET.Readme.txt
SimpleRBM.Cuda/packages/CUDAfy.NET.1.27.5314.36419/content/Readme/CUDAfy-License.txt
SimpleRBM.Cuda/packages/CUDAfy.NET.1.27.5314.36419/content/Readme/example_source_code.cs.txt
SimpleRBM.Cuda/packages/CUDAfy.NET.1.27.5314.36419/content/Readme/ILSpy-license.txt
SimpleRBM.Cuda/packages/CUDAfy.NET.1.27.5314.36419/content/Readme/README.txt
SimpleRBM.Cuda/packages/CUDAfy.NET.1.27.5314.36419/content/Tools/place_these_executables_in_same_folder_as_Cudafy.NET.dll.txt
SimpleRBM.Cuda/packages/CUDAfy.NET.1.27.5314.36419/CUDAfy.NET.1.27.5314.36419.nupkg
SimpleRBM.Cuda/packages/CUDAfy.NET.1.27.5314.36419/lib/net40/Cudafy.NET.dll
SimpleRBM.Cuda/packages/CUDAfy.NET.1.27.5314.36419/lib/net40/Cudafy.NET.xml
SimpleRBM.Cuda/packages/repositories.config