<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.3"/>
  </startup>
  <appSettings>
    <!-- get data from http://vis-www.cs.umass.edu/lfw/ -->
    <add key="FacesDirectory" value="E:\lfwfaces\Selection"/>
    <!-- get data from https://www.kaggle.com/c/digit-recognizer-->
    <add key="KaggleTrainingData" value="E:\Kaggle\train.csv"/>
    <add key="KaggleTestData" value="E:\Kaggle\test.csv"/>
  </appSettings>
</configuration>
