<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="FacesDirectory" value="E:\GitHub\lfw-deepfunneled\lfw-deepfunneled\"/>
    <add key="KaggleTrainingData" value="E:\Kaggle\train.csv"/>
    <add key="KaggleTestData" value="E:\Kaggle\test.csv"/>
  </appSettings>
</configuration>